<div class="row">
    <div class="col-sm-8 col-lg-8">
        <div class="row">
            <ul>
                <li class="thumbnail col-md-3" style="max-height: 100px;min-height: 100px;margin-left: 30px;padding: 15px;" ng-repeat="sandwich in $ctrl.sandwiches">
                    <p>
                        <span>
                            <strong>{{ sandwich.name }}</strong> - ${{ sandwich.price }}
                        </span>
                    </p>
                    <p>
                        <span>
                            Ingredients:
                        </span>
                        <span ng-repeat="ingredient in sandwich.ingredients">
                            <strong>{{ ingredient.name }}</strong>
                        </span>
                    </p>
                    <button class="btn btn-primary btn-xs" ng-click="$ctrl.addSandwich(sandwich)" ng-disabled="$ctrl.orderItems[sandwich.id]">
                        Add
                    </button>
                </li>
            </ul>
        </div>
    </div>
    <div class="col-sm-4 col-lg-4">
        <table class="table table-striped table-bordered ">
            <thead>
                <tr align="center">
                    <th>Sandwich</th>
                    <th>Cost</th>
                    <th>Qty.</th>
                    <th>Total</th>
                    <th style="text-align: center;">Action</th>
                </tr>
            </thead>
            <tbody>
                <tr align="center" ng-repeat="orderItem in $ctrl.orderItems">
                    <td>{{ orderItem.sandwich.name }}</td>
                    <td>{{ orderItem.sandwich.price }}</td>
                    <td>{{ orderItem.quantity }}</td>
                    <td>{{ orderItem.total }}</td>
                    <td>
                        <a href="#" title="More" ng-click="$ctrl.addSandwich(orderItem.sandwich)"><i class="splashy-add"></i>&nbsp;&nbsp;More</a>
                        <a href="#" title="Less" ng-click="$ctrl.lessSandwich(orderItem.sandwich)"><i class="splashy-remove_minus_sign"></i>&nbsp;&nbsp;Less</a>
                        <a href="#" title="Remove" ng-click="$ctrl.removeOrder(orderItem)"><i class="splashy-remove"></i>&nbsp;&nbsp;Remove</a>
                    </td>
                </tr>
                <tr align="center" ng-if="$ctrl.calculateTotalOrder() > 0">
                    <td colspan="3">Totals</span></td>
                    <td>{{ $ctrl.calculateTotalOrder() }}</span></td>
                    <td>
                        <a href="#" ng-click="$ctrl.placeOrder()" class="btn btn-success btn-block">
                            Place Order
                            <i class="splashy-upload"></i>
                        </a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>