<div class="row" style="display: none;">
    <div class="col-sm-5">
        <h3 class="heading">Visitors by Country
            <small>last week</small>
        </h3>
        <div id="fl_2" style="height:200px;width:80%;margin:50px auto 0"></div>
    </div>
    <div class="col-sm-7">
        <div class="heading clearfix">
            <h3 class="pull-left">Another Chart</h3>
            <span class="pull-right label label-info bs_ttip" data-placement="left" data-container="body" title="Here is a sample info tooltip">Info</span>
        </div>
        <div id="fl_1" style="height:270px;width:100%;margin:15px auto 0"></div>
    </div>
</div>

<div class="row">
    <div class="col-sm-12 col-lg-12" id="user-list">
        <h3 class="heading">Orders
            <small>last 12 hours</small>
        </h3>
        <!-- <div class="row">
            <div class="col-lg-12">
                <div class="input-group input-group-sm sepH_b">
                    <span class="input-group-addon">
                        <i class="glyphicon glyphicon-user"></i>
                    </span>
                    <input class="user-list-search search form-control" placeholder="Search Order" type="text">
                </div>
            </div>
        </div> -->
        <div class="row" style="margin-top: 30px;">
            <div class="col-md-4">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th class="col-md-4">Order</th>
                            <th class="col-md-4"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="order in $ctrl.orders">
                            <td>
                                <button class="btn btn-primary" ng-click="$ctrl.seeDetail(order)">
                                    Order {{ order.id }}
                                </button>
                            </td>
                            <td>
                                <button ng-if="order.paid !== true" class="btn btn-success pull-right btn-block">Pay</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-md-8" ng-if="!!$ctrl.currentOrder">
                <table class="table table-striped table-bordered">
                    <thead>
                        <tr>
                            <th colspan="4">Detail Order {{ $ctrl.currentOrder.id }}</th>
                        </tr>
                        <tr align="center">
                            <th>Sandwich</th>
                            <th>Cost</th>
                            <th>Qty.</th>
                            <th>Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr align="center" ng-repeat="orderItem in $ctrl.currentOrder.orderItems">
                            <td>{{ orderItem.sandwichId }}</td>
                            <td>{{ orderItem.sandwichPrice }}</td>
                            <td>{{ orderItem.quantity }}</td>
                            <td>{{ orderItem.totalPrice }}</td>
                        </tr>
                        <tr align="center" ng-if="$ctrl.calculateTotalOrder() > 0">
                            <td colspan="3">Totals</span></td>
                            <td>{{ $ctrl.currentOrder.price }}</span></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>